#include "resource.h"
#include "afxres.h"
#include <commctrl.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

IDD_MAIN_DIALOG DIALOGEX 0, 0, 420, 320
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "LTC ASIO Player"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    LTEXT           "ASIO Device:",IDC_STATIC,12,14,70,8
    COMBOBOX        IDC_COMBO_DEVICE,88,12,320,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Output Channel:",IDC_STATIC_CHANNEL_LABEL,12,36,70,8
    EDITTEXT        IDC_EDIT_CHANNEL,88,34,40,14,ES_NUMBER | WS_TABSTOP
    CONTROL         "",IDC_SPIN_CHANNEL,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE,128,34,11,14

    LTEXT           "Buffer (frames):",IDC_STATIC,12,58,70,8
    COMBOBOX        IDC_COMBO_BUFFER,88,56,120,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "Loop playback",IDC_CHECK_LOOP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,220,58,120,10

    LTEXT           "WAV File:",IDC_STATIC,12,82,70,8
    EDITTEXT        IDC_EDIT_FILE,88,80,260,14,ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "Browse...",IDC_BTN_BROWSE,354,78,54,16

    PUSHBUTTON      "Play",IDC_BTN_PLAY,88,108,60,20
    PUSHBUTTON      "Stop",IDC_BTN_STOP,156,108,60,20
    PUSHBUTTON      "ASIO Control Panel",IDC_BTN_ASIO_PANEL,224,108,120,20

    LTEXT           "Log:",IDC_STATIC,12,136,40,8
    EDITTEXT        IDC_EDIT_LOG,12,148,396,160,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
END
